//VARIABLES

$montserrat: 'Montserrat', Arial, Helvetica, sans-serif;
$ptserif: 'PT Serif', serif;

$default-browser-font-size: 16px !global;

$primary-color: #359DAF;
$blue: #4A90E2;
$green: #50E3C2;
$red: #FF6666;
$yellow: #F5C65E;
$fb-blue: #3A559F;
$black:#1D1D26;
$grey: #4A4A4A;
$lightgrey: #9AA6AA;
$msg-bg-grey: #EAEFF2;
$border-grey: #1D1D26;
$disabled-grey: #E5E5E5;
$input-grey: #1D1D26;
$input-sq-grey: #9AA6AA;
$input-sq-bg-grey:#F3F7F9;
$input-sq-brd-grey:#CCDCE4;
$pista-bg-grey: #EAEFF2;
$switch-bg-grey: #DEDEDE;
$switch-grey: #9AA6AA;
$white: #FFFFFF;


$gradient-opacity: linear-gradient(180deg, rgba(#4B4097, 0.6) 0%, rgba(#000000,0.6) 100%);

$img-path: '../img/';
$large-wrap: 1170px;

$breakpoints: (
  xsmall: 0px,
  small: 320px,
  medium: 768px,
  large: 1024px,
  xlarge: 1400px
);

$menu-height: 60px;
$header-game-height: 123px;