.m-modal{
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    overflow-y: auto;
    
    .modal-wrapper{
        border-radius: 9px;
        background-color: #FFFFFF;
        box-shadow: 0 24px 44px 10px rgba(0,0,0,0.11);
        padding: 10px;
        top: 0%;
        @include breakpoints(750px){
            width: 710px;
        }
 
        .modal-content{
           @include add-border(1px, #aaa9af, 'all');
            padding: 50px 40px;
            text-align: left;
            position: relative;

            .modal-close{
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;
                font-size: 30px;
                color: $black;
            }

            h2{
                color: $lightgrey;
                font-size: 25px;
                line-height: 29px;
                text-transform: uppercase;
            }
            h1, h2, h3, h4{
                text-align: center;
                margin-bottom: 10px 0px;
            }


            .message{
                color: $black;
                font-size: 18px;
                padding: 10px 0px 0px;
            }
            .schedule{
                color: $lightgrey;
                font-size: 15px;
                padding: 10px 0px;
            }

            form{
                max-width: 280px;
                margin: 20px auto 0px;

                input[type=text]{
                    margin-bottom: 10px;
                }
            }
        }           
    }

    &.open{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        animation: fadeInModalBg 0.3s forwards ease-in-out;
        .modal-wrapper{
            animation: openModal 0.3s forwards ease-in-out;
            @include breakpoints(750px){
                animation: openModal 0.3s forwards ease-in-out;
            }
        }
    }


    &.close{
        display: block;
        animation: fadeOutModalBg 0.3s forwards ease-in-out;
        .modal-wrapper{
            animation: closeModal 0.3s forwards ease-in-out;
        }
    }
}

.m-modal.politica{
    .modal-content{
        padding: 30px 20px;
    }


    &.open{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        @include breakpoints(750px){
            justify-content: center;
        }
    }

    &.close{
        display: block;
        animation: fadeOutModalBg 0.3s forwards ease-in-out;
        .modal-wrapper{
            animation: closeModal 0.3s forwards ease-in-out;
        }
    }
}


@keyframes openModal {
    0% { opacity: 0; transform: scale(1); }
    40% { opacity: 0; transform: scale(0.3); }
    100% { opacity: 1; transform: scale(1); }
}

@keyframes closeModal {
    0% { opacity: 1; transform: scale(1); }
    70% { opacity: 0; transform: scale(0.3); }
    100% { opacity: 0; transform: scale(0); }
}

@keyframes fadeInModalBg {
    0% { background-color: rgba(0, 0, 0, 0); }
    40% { background-color: rgba(0, 0, 0, 0.5); }
    100% { background-color: rgba(0, 0, 0, 0.5); }
}

@keyframes fadeOutModalBg {
    0% { background-color: rgba(0, 0, 0, 0.5); }
    50% { background-color: rgba(0, 0, 0, 0.5); }
    100% { background-color: rgba(0, 0, 0, 0); }
}