.m-steps--white{
    background-color: rgba($white, 0.33);
    width: 56px;
    padding: 5px 0px 4px;
    border-radius: 50px;
    text-align: center;

    span{
        color: $white;
        font-family: Montserrat;	

        &.current{
            font-size: 16px;
            font-weight: 600;
        }
        &.divider,
        &.total{
            font-size: 10px;
        }
        &.step{
            display: none;
            &.active{
                display: inline;
            }
        }
    }
}

.m-steps--game{
    background-color: rgba($white, 0.33);
    width: 56px;
    padding: 5px 0px 4px;
    border-radius: 50px;
    text-align: center;

    span{
        color: $white;
        font-family: Montserrat;	

        &.current{
            font-size: 13px;
            font-weight: 600;
            width: 26px;
            text-align: right;
            display: inline-block;
        }
        &.divider,
        &.total{
            font-size: 10px;
        }
    }
}