.m-configuration-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 2px solid rgba($black,0.05);

    .mci-content{
        width: calc(100% - 70px);
        padding: 25px;
        .mci-header{
            color: $black;
            font-family: $montserrat;
            font-size: 16px;
            line-height: 16px;
            margin-bottom: 10px;
        }
        .mci-message{
            color: rgba($black,0.6);
            font-family: $montserrat;
            font-size: 12px;
            font-weight: 300;
            line-height: 12px;
        }
    }

    .mci-switch{
        width: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}