.m-games-item{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 130px;

    .mgi-wrapper{
        display: block;
        text-decoration: none;
        background-color: rgba($black, 0.64);
        height: 100%;
        min-height: 130px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: flex-start;
        padding: 20px;
    }

    .mgi-content{
        width: 100%;
        position: relative;
        .mgi-header{
            color: $white;
            font-family: $montserrat;
            font-size: 21px;
            line-height: 26px;
            margin-bottom: 7px;

            br{
                display: none;
            }
        }
        
        .a-button--next{
            position: absolute;
            top: 50%;
            right: 20px;
            margin-top: -11px;
        }
    }
}

.m-games-item--empty{
    max-width: 320px;
    margin: 30px auto;
    padding: 0px 30px;

    .mgie-no-game-img{
        width: 60%;
        margin: 0 auto;
    }

    .mgie-header{
        color: #BBBBBB;
        font-family: $montserrat;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        text-align: center;
        margin-top: 10px;
    }

    .mgie-body{
        color: #BBBBBB;
        font-family: $montserrat;
        font-size: 13px;
        font-weight: 600;
        line-height: 17px;
        text-align: center;
        margin-top: 5px;
    }

}