.m-notification-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 21px 0px 30px;
    border-bottom: 2px solid rgba($black,0.05);

    .mni-bullet{
        width: 50px;
        &::before{
            content: '';
            display: block;
            margin: 0 auto;
            width: 10px; 
            height: 10px;
            border-radius: 20px;
            background-color: $switch-bg-grey;
        }
    }

    &.active{
        .mni-bullet{

            &::before{
                background-color: $green;
            }
        }
    }

    .mni-content{
        width: calc(100% - 125px);

        .mni-header{
            color: $black;
            font-family: $montserrat;
            font-size: 16px;
            line-height: 16px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 10px;
        }
        .mni-message{
            color: rgba($black,0.6);
            font-family: $montserrat;
            font-size: 12px;
            font-weight: 300;
            line-height: 12px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .mni-date{
        width: 75px;
        padding-left: 5px;
    }
}