.m-photo-item{
    min-height: calc(100% - 92px);

    .w-content{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .a-button--photo-fin{
        width: 100%;
        height: 200px;     
        margin: 20px 0px;
    }

    .mpi-image{
        width: 100%;
        height: 200px;
        margin: 20px 0px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .a-checkbox--green,
    .a-center{
        margin-bottom: 20px;
    }

    .hastags{
        color: $primary-color;
        font-family: $montserrat;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        span{
            display: block;
        }
    }

    #myFileInput{
        display: none;
    }

    .green-rounded{
        margin: 0 auto 20px;
    }

    .a-button--fb-blue{
        margin: 0 auto 20px;
    }

    .h-dark,
    p{
        text-align: center;
    }
}