.m-pista-item{
    background-color: $pista-bg-grey;
    position: relative;
    z-index: 100;
    padding: 20px;
    box-shadow: 0 17px 13px 0 rgba(0,0,0,0.17);
    color: $black;
    font-family: $montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    margin-bottom: 15px;

    &::before{
        content: " ";
        bottom: 100%;
        right: 10px;
        border: solid transparent;
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: $pista-bg-grey;
        border-width: 10px;
        margin-left: -10px;
    }

    .close{
        &::before{
            content:'X';
            width: 20px;
            height: 20px;
            font-family: $montserrat;
            font-size: 14px;
            line-height: 20px;
            font-weight: 600;
            text-align: center;
            position: absolute;
            top: 1px;
            left: 1px;

        }
    }

}