.m-success-item{
    .msi-img{
        width: 50%;
        margin: 20px auto;
    }

    .msi-content{
        p{
            text-align: center;
            color: $black;
            margin-bottom: 20px;
        }
        .h-dark{
            text-align: center;
            color: $black;
        }
        text-align: center;
        margin-bottom: 20px;
    }

    .msi-buttons{
        [class^="a-button-"], [class*="a-button-"] {
            margin-bottom: 10px;
        }
        text-align: center;
    }

}