.p-game-page--start{
    height: 100%;

    p{
        margin-bottom: 20px;
    }

    [class^="a-button-"], [class*="a-button-"] {
        margin: 10px auto;
        display: block;
    }

    .a-input--group--grey{
        margin-bottom: 20px;
    }

    .ubication-start{
        margin: 20px 0px;
        .small{
            text-align: center;
        }
    }
}

.p-game-page--question{
    height: 100%;
}