.p-init-screen-page{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-image: url('../img/bg-login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .logo{
        width: 192px;
        margin: 15px auto;
    }

    .pisp-header{
        position: relative;

        .a-button--back{
            position: absolute;
            top: 10px;
            left: 5px;
        }
    }

    .pisp-subheader{
        text-align: center;
        margin-top: 40px;
        h1{
            color: $white;
            font-family: $montserrat;
            font-size: 35px;
            font-weight: 300;
            letter-spacing: 1px;
            line-height: 35px;
        }

        .m-steps--white{
            margin: 10px auto;
        }
    }

    .pisp-bottom{
        .a-button--primary{
            margin: 10px 0px 20px;
        }
    }

    .psip-reg-access{
        text-align: center;
        color: rgba($white, 0.5);
        font-family: $montserrat;
        font-size: 13px;
        line-height: 13px;

        a{
            color: $white;
            font-size: 13px;
            line-height: 13px;
            text-decoration: none;

            &:hover{
                text-decoration: underline;
            }
        }
    }
}

.p-init-register-form{
    .step{
        display: none;

        &.active{
            display: block;
        }
    }

}