@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700|PT+Serif:700');

*{
    box-sizing: border-box;
    
    &:focus {
        outline: none;
        -webkit-tap-highlight-color: transparent; 
    }
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    font-size: $default-browser-font-size;
    font-family: $montserrat;
}

.w100{
    width: 100%;
    height: auto;
    display: block;
}

.a-center{
    text-align: center;
}

.w-content{
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    padding: 30px 15px;
    
    @include breakpoints(360px){
        padding: 30px;
    }
}

.green-rounded{
    border: 4px solid $green;
    width: 84px;
    height: 84px;
    border-radius: 70px;
    position: relative;

    &::before{
        font-size: 50px;
        color: $green;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

@-webkit-keyframes autofill {
    to {
      color: $white;
      background: transparent;
    }
  }