@font-face {
    font-family: 'icomoon';
    src:  url('../webfonts/icomoon.eot?n2w2fe');
    src:  url('../webfonts/icomoon.eot?n2w2fe#iefix') format('embedded-opentype'),
      url('../webfonts/icomoon.ttf?n2w2fe') format('truetype'),
      url('../webfonts/icomoon.woff?n2w2fe') format('woff'),
      url('../webfonts/icomoon.svg?n2w2fe#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-arrow:before {
    content: "\e900";
  }
  .icon-double-arrow:before {
    content: "\e901";
  }
  .icon-bell:before {
    content: "\e902";
  }
  .icon-birthday-cake:before {
    content: "\e903";
  }
  .icon-check:before {
    content: "\e904";
  }
  .icon-chrono:before {
    content: "\e905";
  }
  .icon-credit-card:before {
    content: "\e906";
  }
  .icon-email:before {
    content: "\e907";
  }
  .icon-facebook:before {
    content: "\e908";
  }
  .icon-flag:before {
    content: "\e909";
  }
  .icon-forgot-password:before {
    content: "\e90a";
  }
  .icon-home:before {
    content: "\e90b";
  }
  .icon-loc:before {
    content: "\e90c";
  }
  .icon-menu:before {
    content: "\e90d";
  }
  .icon-password:before {
    content: "\e90e";
  }
  .icon-photo-camera:before {
    content: "\e90f";
  }
  .icon-camera:before {
    content: "\e910";
  }
  .icon-profile:before {
    content: "\e911";
  }
  .icon-team:before {
    content: "\e912";
  }
  .icon-puzzle:before {
    content: "\e913";
  }
  .icon-settings:before {
    content: "\e914";
  }
  .icon-trophy:before {
    content: "\e915";
  }
  .icon-moon:before {
    content: "\e916";
  }
  .icon-sun:before {
    content: "\e917";
  }
  .icon-saturn:before {
    content: "\e918";
  }
  .icon-star:before {
    content: "\e919";
  }
  .icon-key:before {
    content: "\e91a";
  }
  .icon-close:before {
    content: "\e91b";
  }