h1{
    @include text-format(48px, $montserrat, $black);
    line-height: rem-calc(57px);
}
h2{
    @include text-format(36px, $montserrat, $black);
    line-height: rem-calc(46px); 
}
h3{
    @include text-format(24px, $montserrat, $grey);
    line-height: rem-calc(36px);
}
h4{
    @include text-format(18px, $montserrat, $grey);
    line-height: rem-calc(26px); 
}
h5{
    @include text-format(13px, $montserrat, $grey);
    line-height: rem-calc(19px);  
}
p{
    @include text-format(14px, $montserrat, $grey);
    line-height: rem-calc(22px);
    font-weight: 400;
}
label{
    @include text-format(14px, $montserrat, $grey);
    line-height: rem-calc(20px);
}
a{
    @include text-format(14px, $montserrat, $primary-color);
    line-height: rem-calc(22px);  
}

b, strong{
    font-weight: 600;
}

i{
    font-style: italic;
}

.h-dark{
    color: $grey;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

.blue{
    color: $primary-color;
}

.small{
    font-size: 12px;	
    font-weight: 300;
    line-height: 15px;
}

.q-header{
    color: $input-sq-grey;
    font-family: $ptserif;
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 22px;
    text-align: center;
}

.s-header{
    color: $green;
    font-family: $montserrat;
    font-size: 26px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
}