.o-game-module{
    height: calc(100% - 123px);
    overflow: hidden;
    position: relative;

    .ogm-header{
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &:before{
            content:'';
            position: absolute;
            top: 0;
            bottom: 0;
            display: block;
            background-color: rgba($black,0.6);
            width: 100%;
            height: 100%;
            z-index: 1;
        }

        .content{
            padding: 25px 0px 0px;
            position: relative;
            z-index: 3;
            p{
                color: $white;
                font-size: 13px;
                line-height: 16px;
                text-align: center;
                text-overflow: ellipsis;
                max-height:48px;
                overflow: hidden;
                transition: max-height 0.4s ease-in-out;
            }
        }

        &.active{
            .content{
                p{
                    max-height: 2000px;
                    transition: max-height 0.4s ease-in-out;
                }
            }
        }

        .a-button--more{
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 5;
        }
    }

    .ogm-question{
        padding-bottom: 100px;
        overflow-y: auto;
        padding-bottom: 300px;
        .question{
            color: $black;
            font-family: $ptserif;
            font-size: 16px;
            font-style: italic;
            font-weight: 700;
            line-height: 22px;
            text-align: center;

        }
    }


    .ogm-answer{
        height: 100%;
        background-color: $white;
        position: absolute;
        top: calc(100% - 60px);
        left: 0;
        width: 100%;
        transition: top 0.45s ease-in-out;
        z-index: 100;
        box-shadow: 0 -7px 7px -7px $input-sq-brd-grey;
        border-top: 2px solid rgba($input-sq-brd-grey,0.23);

        
        .ogm-wrapper{
            position: relative;
            padding-top: 15px;
            height: 100%;
        }

        .q-header{
            margin-top: 15px;
        }
    }

    .a-button--answer{
        width: 50px;
        height: 50px;
        position: absolute;
        top: 0px;
        left: 50%;
        top: -25px;
        margin-left: -25px;
        border-radius: 100px;
        border: 2px solid $input-sq-brd-grey;
        background-color: $white;
        .icon-double-arrow{
            position: absolute;
            transform: translate(-50%, -50%) rotate(0deg);

            &::before{
                font-size: 22px;
                color: $input-sq-brd-grey;
            }
        }
        
    }

    .a-button--pistes{
        display: none;
        position: absolute;
        right: 15px;
        top: -25px;
    }

    .o-pista-container{
        display: none;
        position: absolute;
        right: 15px;
        top: 35px;
        width: 185px;
    }

    .rating-game{
        text-align: center;
    }

    &.active{
        overflow: visible;
        .ogm-question{
            opacity: 0;
        }
        .ogm-answer{
            top: 40px;
            bottom: 0px;
            .icon-double-arrow{
                transform: translate(-50%, -50%) rotate(180deg);
            }
        }

        .m-question-item{   
            padding-bottom: 30px; 
        }

        .a-button--pistes,
        .o-pista-container{
            display: inline-block;
        }
    }

}
    