
button{
    background-color: transparent;
    border: 0px;
}

%a-button{
    display: inline-block;
    padding: 20px 0px;
    border: 1px solid;
    width: 100%;
    font-family: $montserrat;
    font-size: 18px;
    line-height: 1px;
    text-align: center;
    text-decoration: none;
}

.a-button--primary{
    @extend %a-button;
    border-color: $primary-color;
    background-color: $primary-color;
    color: $white;
}

.a-button--back{
    &::before{
        content: '\e900';
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: $white;
        font-size: 21px;
    }
}

.a-button--next{
    display: inline-block;
    transform: rotate(180deg);
    &::before{
        content: '\e900';
        font-family: 'icomoon' !important;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: $white;
        font-size: 21px;
    }
}

.a-button--more{
    background-color: $primary-color;
    width: 36px;
    height: 36px;
    border-radius: 25px;
    position: relative;

    &::before{
        content: '+';
        font-family: $montserrat;
        color: $white;
        font-size: 29px;
        line-height: 1px;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

.a-button--burger{
    &::before{
        content: '\e90d';
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: $white;
        font-size: 21px;
    }
}

.a-button--camera{
    &::before{
        content: '\e910';
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: $white;
        font-size: 21px;
    }
}

.a-button--red{
    @extend %a-button;
    border-color: $red;
    background-color: $red;
    color: $white;
}

.a-button--ubicacion{
    @extend %a-button;
    border-color: $red;
    background-color: $red;
    color: $white;
    width: 244px;
    height: 50px;

    &.correct{
        border-color: $green;
        background-color: $green;
        padding: 8px 0px;
        &::before{
            content: '\e904';
            font-family: 'icomoon' !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            color: $white;
            font-size: 17px;
            vertical-align: -3px;
            margin-right: 5px;
        }
    }
}

.a-button--bluecc{
    @extend %a-button;
    border-color: $blue;
    background-color: $blue;
    color: $white;

    &::before{
        content: '\e906';
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: $white;
        font-size: 17px;
    }
}

.a-button--fb-blue{
    @extend %a-button;
    border-color: $fb-blue;
    background-color: $fb-blue;
    color: $white;
    font-size: 18px;
    padding: 8px 0px;
    max-width: 264px;

    &::before{
        content: '\e908';
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: $white;
        font-size: 26px;
        vertical-align: -5px;
    }
}

.a-button--start{
    @extend %a-button;
    border-color: $green;
    background-color: $green;
    color: $white;

    &::before{
        content: '\e905';
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: $white;
        font-size: 17px;
        vertical-align: -3px;
        margin-right: 5px;
    }

    &:disabled{
        border-color: $disabled-grey;
        background-color: $disabled-grey;
    }
}

.a-button--pistes{
    background-color: $red;
    height: 50px;
    min-width: 74px;
    border-radius: 25px;
    color: $white;
    font-family:$montserrat;
    font-size: 12px;
    line-height: 50px;
    text-align: center;
    box-shadow: 5px 3px 31px 0 rgba(0,0,0,0.5);
}

.a-button--choose{
    &::before{
        font-size: 30vw;
        color: rgba($primary-color,0.8);
    }

    &:hover,
    &:active{
        color: rgba($primary-color,1);   
    }
}

.a-button--photo-fin{
    text-decoration: none;
    text-align: center;
    .icon-photo-camera{
        &::before{
            font-size: 60px;
            color: $black;
        }
    }
}