%a-opt{
    display: inline-block;
    border-radius: 25px;
    padding: 3px 6px 5px;
    color: $white;
    font-family: $montserrat;
    font-size: 12px;
    line-height: 13px;
    text-align: center;
    text-decoration: none;
}

.a-opt--red{
    @extend %a-opt;
    background-color: $red;
}

.a-opt--blue{
    @extend %a-opt;
    background-color: $primary-color;
}

.a-opt--grey{
    @extend %a-opt;
    background-color: $grey;
}

.a-opt--white--opac{
    @extend %a-opt;
    background-color: rgba($white, 0.26);
}


