/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 41px;
    height: 24px;

    input {
        opacity: 0;
        width: 0;
        height: 0;
        
        &:checked + .slider {
            background-color: $primary-color;
            &::before {
                transform: translateX(18px);
                background-color: $white;
            }
        }
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #DEDEDE;
        transition: .4s;
        &:before {
            position: absolute;
            content: "";
            height: 18px;
            width: 18px;
            left: 3px;
            bottom: 3px;
            background-color: #9AA6AA;
            transition: .4s;
        }

        /* Rounded sliders */
        &.round {
            border-radius: 30px;
            &:before {
                border-radius: 50%;
            }
        }
    }
} 

%a-input--logo{
    position: relative;

    &:before{
        content:'';
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #A6A7B0;
        font-size: 20px;
        position: absolute;
        bottom: 20px;
        left: 0px;

    }

    input{
        padding: 10px 10px 10px 30px;
        color: $white !important;
        font-family: $montserrat;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0.5px;
        line-height: 14px;
        border: 0px !important;
        border-bottom: 1px solid $white !important;
        width: 100%;
        background-color: transparent !important;
        margin-bottom: 10px;
        max-width: 768px;
        &::placeholder{
            color: $white;
            font-family: $montserrat;
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 0.5px;
            line-height: 14px;
        }

        &:-webkit-autofill {
            -webkit-animation-name: autofill;
            -webkit-animation-fill-mode: both;
        }
    }
}

%a-input--logo--grey{
    @extend %a-input--logo;

    &:before{
        color: #A6A7B0;
    }

    input{

        color: $black;
        border-bottom: 1px solid $black;

        &::placeholder{
            color: rgba($black, 0.6);
        }
    }
}



.boxed-input{
    padding: 10px;
    border: 1px solid #D4E1E8;
    background-color: #F3F7F9;
    color: rgba($black, 0.8);
    font-family: $montserrat;
    font-size: 16px;
    line-height: 20px;
    width: 100%;
    text-align: center;
    &::placeholder{
        color: rgba(#9AA6AA, 0.8);
        font-family: $montserrat;
        font-size: 16px;
        line-height: 20px;
    }
}

.a-input--name{
    @extend %a-input--logo;
    &:before{
        content:'\e911';
    }
}

.a-input--email{
    @extend %a-input--logo;
    &:before{
        content:'\e907';
    }
}

.a-input--password{
    @extend %a-input--logo;
    &:before{
        content:'\e90e';
    }
}

.a-input--birthday{
    @extend %a-input--logo;
    &:before{
        content:'\e903';
    }
}

.a-input--country{
    @extend %a-input--logo;
    &:before{
        content:'\e909';
    }
}

.a-input--city{
    @extend %a-input--logo;
    &:before{
        content:'\e90c';
    }
}

.a-input--group--grey{
    @extend %a-input--logo--grey;
    &:before{
        content:'\e912';
    }
}

.a-input--name--grey{
    @extend %a-input--logo--grey;
    &:before{
        content:'\e911';
    }
}

.a-input--email--grey{
    @extend %a-input--logo--grey;
    &:before{
        content:'\e907';
    }
}

.a-input--password--grey{
    @extend %a-input--logo--grey;
    &:before{
        content:'\e90e';
    }
}

.a-input--birthday--grey{
    @extend %a-input--logo--grey;
    &:before{
        content:'\e903';
    }
}

.a-checkbox--green{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #E9E9E9;
    padding: 5px;
    input[type="checkbox"] {
        display: none;
        
        &:checked + .acg-check span{
            border: 2px solid $green;
            background: $green;

            &::before{
                display: block;
            }

        }
    
        & + .acg-check{
            width: 24px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            span {
                display: inline-block;
                width: 18px;
                height: 18px;
                border: 2px solid #cbcbcb;
                vertical-align: middle;
                position: relative;
        
                &::before {
                    content: "\e904";
                    font-family: 'icomoon' !important;
                    speak: none;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    position: absolute;
                    display: none;
                    left: 1px;
                    bottom: 1px;
                    color: $white;
                    font-size: 12px;
                }        
            }
        } 

    }

    .acg-text{
        width: calc(100% - 30px);
        p{
            color: $grey;	
            font-family: $montserrat;
            font-size: 12px;
            line-height: 18px;
        }
    }
}

.a-choose-img{
    display: inline-block;
    width: calc(46% - 4px);
    margin: 2%;
    

    input[type="checkbox"],
    input[type="radio"] {
        display: none;
        padding: 0px;
        &:checked + span{
            img{
                border: 2px solid $primary-color;
                opacity: 1;
            }
        }

        & + span{
            img{
                border: 2px solid transparent;    
                opacity: 0.5;
            }
        }

    }
}

.a-choose-text{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
    
    input[type="checkbox"],
    input[type="radio"] {
        display: none;
        padding: 0px;

        &:checked + .act-check span{

            &::before{
                background: $primary-color;
                width: 8px;
                height: 8px;
            }
        }
    
        & + .act-check{
            width: 24px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            span {
                display: inline-block;
                width: 18px;
                height: 18px;
                border: 2px solid $primary-color;
                border-radius: 18px;
                vertical-align: middle;
                position: relative;
        
                &::before {
                    content: "";
                    width: 0px;
                    height: 0px;
                    border-radius: 50%;
                    display: block;
                    background-color: $primary-color;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    transition: all 0.25s ease-in-out;
                }        
            }
        } 

    }
}