.a-no-thanks-link{
    display: block;
    color: #4A4A4A;
    font-family: $montserrat;
    font-size: 11px;
    font-weight: 600;
    line-height: 14px;
    text-decoration:none;
    padding: 10px 0px;

    &:hover{
        text-decoration: underline;
    }
}