.a-list-classic{
    li{
        @include text-format(14px, $montserrat, $grey);
        line-height: rem-calc(22px);
        font-weight: 400;
        list-style: disc;
        margin-left: 20px;
        margin-bottom: 20px;
    }
}