%o-header{
    position: relative;

    .action{
        width: 40px;
        height: 40px;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 10px;
        left: 5px;
    }

    .action-right{
        width: 40px;
        height: 40px;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 10px;
        right: 5px;
    }

    .oh-title{
        color:$white;
        font-family: $montserrat;
        font-size: 21px;
        line-height: 26px;
        text-align: center;
        padding: 15px;
    }
}

.o-header--gradient{
    @extend %o-header;
    width: 100%;
    height: $header-game-height;
    background: linear-gradient(45deg, #5EC4D6 0%, #359DAF 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.o-header--game{
    @extend %o-header;
    width: 100%;
    height: 92px;
    background: linear-gradient(45deg, #5EC4D6 0%, #359DAF 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .oh-steps{
        height: 46px;
        padding-top: 10px;
        text-align: center;

        .m-steps--white{
            margin: 0 auto;
        }
    }
}

.o-header--img{
    @extend %o-header;
    width: 100%;
    height: 185px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .ohi-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background: $gradient-opacity;
        padding: 30px;
        height: 100%;
    }

    .ohi-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        .ohi-title{
            max-width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            h1{
                color: $white;	
                font-size: 21px;
                line-height: 26px;

                &.big{
                    font-size: 35px;
                    font-weight: 300;
                    line-height: 35px;
                }
            }
        }
        .ohi-options{
            display: inline-block;

            div{
                margin-bottom: 8px;
            }

            [class^="a-opt--"], [class*="a-opt--"]{
                margin-right: 4px;
            }
        }
    }

}