.m-menu--principal{
    background-color: $white;
    box-shadow: 0 -1px 1px 0 rgba(0,0,0,0.19);
    position: fixed;
    height: $menu-height;
    width: 100%;
    bottom: 0px;
    left: 0px;
    ul{
        @include clearfix;
        height: $menu-height;
    }
    li{
        float: left;
        width: 20%;

        .mmp-option{
            display: block;
            height: $menu-height;
            position: relative;
            &::before{
                position:absolute;
                font-size: 25px;
                color: $black;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
        a.active{
            &::before{
                color: $primary-color;
            }  
        }
    }
}