.m-menu--header{
    background-color: transparent;

    ul{
        @include clearfix;
    }
    li{
        float: left;
        width: 50%;

        .mmh-option{
            display: block;
            height: 30px;
            color: $white;
            font-family: $montserrat;
            font-size: 11px;
            letter-spacing: 1px;
            line-height: 11px;
            text-align: center;
            padding: 8px;
            border-bottom: 3px solid transparent;
            text-transform: uppercase;
            text-decoration: none;
            &.active{
                border-bottom: 3px solid rgba(255,255,255,0.6);
            }
        }
        
    }
}