// Versatile Rating

    

 .stars_holder {
    display: inline-block;
  }
  .rated, .unrated  {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    transition: background-image 0.3s ease;
  }
  .star {
    cursor: pointer;
  }
  .readonly-holder {
    pointer-events: none;
  }

  